<header>
<!--原来有一个 class="site-header" -->


      <!-- <div class="trigger">
        {% for my_page in site.pages %}
          {% if my_page.title %}
          <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          {% endif %}
        {% endfor %}
      </div> -->

<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
  <!-- navbar-fixed-top:固定到顶部  navbar-inverse：黑色样式  -->
    <div class="container">
    <!--container自适应浏览器大小布局/fluid居中固定宽度布局  -->
      <div class="navbar-header">
      <!-- 用于包裹导航条头部的logo和menu图标 -->
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <!-- <span class="sr-only">ToggleNavigation</span> -->
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- <a class="navbar-brand" href="#">Guard-wen</a> -->
        <a class="site-title navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a class="active glyphicon glyphicon-fire" href="/code.html">`Code</a></li>
          <li><a href="#" class="glyphicon glyphicon-edit">`壹仟字</a></li>
          <li class="dropdown" ><a href="#" class="dropdown-toggle  glyphicon glyphicon-leaf" data-toggle="dropdown">`多肉
            <!-- <b class="caret"></b> -->
            <!-- b标签为^图标 -->
            <!-- </a>
            <ul class="dropdown-menu navbar-inverse">
              <li><a href="#">Chrome</a></li>
              <li><a href="#">Firefox</a></li>
              <li><a href="#">Safari</a></li>
              <li><a href="#">Opera</a></li>
              <li><a href="#">IE</a></li>
            </ul> -->
          </a></li>
          <li>
            {% for my_page in site.pages %}
          {% if my_page.title %}
          <a class="page-link glyphicon glyphicon-hand-right" href="{{ my_page.url | prepend: site.baseurl }}">`{{ my_page.title }}</a>
          {% endif %}
        {% endfor %}
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
