---
layout: default
---
<div class="row" id="post-background">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

</article>
	</div>
	<div class="col-md-2">
    <hr> 
      <!--代码-->
      <div class="label-mark">
        <span class="label label-info">HTML5</span>
        <span class="label label-primary">JavaScript</span>
        <span class="label label-success">壹仟字</span>
        <span class="label label-info">《暗时间》</span>
        <span class="label label-warning">Bootstrap</span>
        <span class="label label-danger">错误标签</span>
        <span class="label label-info">默认标签</span>
        <span class="label label-warning">Bootstrap</span>
        <span class="label label-danger">错误标签</span>
        <span class="label label-info">默认标签</span>
        <hr>
        <br>
      </div>
	</div>
</div>


